<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url"> jdbc:mysql://mysql.fhv.at/crh6731</property>
        <property name="hibernate.connection.username">crh6731</property>
        <property name="connection.password">beractif</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <mapping class="at.fhv.team3.domain.Book" />
        <mapping class="at.fhv.team3.domain.Dvd" />
        <mapping class="at.fhv.team3.domain.Magazine" />
        <mapping class="at.fhv.team3.domain.BookedItem" />
        <mapping class="at.fhv.team3.domain.BorrowedItem" />
        <mapping class="at.fhv.team3.domain.Employee" />
        <mapping class="at.fhv.team3.domain.Customer" />
        <mapping class="at.fhv.team3.domain.ExternalLib" />
        <mapping class="at.fhv.team3.domain.OverdueNotice" />
    </session-factory>
</hibernate-configuration>